div#main-wrapper {
	margin: 0 auto;
	width: 360px;
	background: #fff;
	-moz-box-shadow: 0px 0px 7px #000;
	-webkit-box-shadow: 0px 0px 7px #000;
	box-shadow: 0px 0px 7px #000;
}
div#content-wrapper {
	margin: 10px auto;
	padding: 10px;
	padding-top: 0;
	width: 340px;
	background: #fff;

}

h1 {
	margin: 0;
	padding: 15px;
	padding-top: 25px;
	background: #0e6997; /* Old browsers */
	background: -moz-linear-gradient(top,  #0e6997 0%, #0b608e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e6997), color-stop(100%,#0b608e)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0e6997 0%,#0b608e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0e6997 0%,#0b608e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0e6997 0%,#0b608e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #0e6997 0%,#0b608e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e6997', endColorstr='#0b608e',GradientType=0 ); /* IE6-9 */
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	height: 30px;
	color: #fff;
	font-size: 15px;
	text-shadow: 0px 1px #000;
}

h1 > a {
	background: url('./images/logo.png') right center no-repeat;
	float: right;
	margin: 0;
	margin-top: -10px;
	padding: 0;
	overflow: hidden;
	display: inline-block;
	text-indent: -99999px;
	height: 32px;
	width: 100px;
}

.component-header {
	display: none;
}

div#footnotes {
	border-top: 1px solid #fff;
	margin-top: 13px;
	font-size: 0.5em;
}

div#footnotes h3 {
	color: #6d6d6d;
	font-size: 1em;
	font-weight: bold;
}

div#footnotes p {
	margin-bottom: 10px;
}

div#us-pop-on-date p {
	color: #064167;
	font-size: 1.17em;
	font-weight: bold;
	float: left;
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 17px;
	margin-top: 5px;
	margin-left: 10px;
	border-left: 1px solid #aaa;
}

div#us-pop-on-date nav {
	float: right;
	position: relative;
	top: 19px;
}

div#us-pop-on-date img {
	float: left;
	display: inline-block;
	margin: 0;
	margin-top: 13px;
	margin-left: 20px;
	padding: 0;
}

div#us-pop-on-date span.select-date {
	display: inline-block;
	padding: 5px 10px;
	background: #0b5c8b;
	padding-bottom: 5px;
	-moz-border-radius:    5px; 
	-webkit-border-radius: 5px; 
	border-radius:         5px;
	border: 2px solid #05314a;
	font-size: 0.9em;
	color: #fff;
	
}

div#us-pop-on-date span.pop-count {
	color: #ff9e00;
}

div#us-pop-on-date input {
	display: block;
	overflow: hidden;
	height: 0px;
	border: none;
	position: relative;
	top: -235px;
	left: 80px;
	visibility: hidden;
}
