.share {
	display: none;
}

h3 {
	display: none;
}
div#population-age-header {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

div#population-pyramid-wrapper {
	display: block;
	clear: both;
	float: none;
	width: 100%;
}
	div#population-pyramid-graph {
		margin: 0 auto;
		/*width: 6.5in;*/
		/*height: 13in;*/
	}
	
	div#population-pyramid-slider {
		display: none;
	}
	
	a#population-pyramid-play-button {
		display: none;
/*		text-indent: -99999px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('./images/play.png');
		overflow: hidden;
		width: 20px;
		height: 20px;
		float: left;
		position: relative;
		left: 10px;
		z-index: 10000;
*/	}

table {
	display: block;
	clear: both;
	width: 100%;
	color: #3a8fba;
	border-spacing:0;
	border-collapse:collapse;
}

thead {
	background: #5f5f5f;
	color: #fff;
	text-align: right;
}

table thead th {
	margin: 0;
	padding: 10px 10px;
	font-weight: normal;
}

table thead  th.cell0 {
	text-align: left;
}

table thead  th.cell1 {
	border-left: 1px solid #565656;
	border-right: 1px solid #565656;
}

/*div#us-most-populous-container table td.cell1, 
div#us-highest-density-container table td.cell1, 
div#us-most-populous-container table td.cell2, 
div#us-highest-density-container table td.cell2 {
	width: 135px;
}*/

table tbody td {
	padding: 6px;
	padding-top: 10px;
	text-align: right;
}

table tbody td.cell0 {
	text-align: left;
	width: 160px;
}

/*div#us-most-populous-container table tbody td a, div#us-highest-density-container table tbody td a {
	padding: 5px;
	color: #3a8fba;
	text-decoration: underline;
}*/

table tbody tr.alt td {
	background: #f8f8f5;
}

#pyramid-footnote {
	clear: both;
	float: none;
	display: block;
}

#footnotes, #footnotes h3, #footnotes p {
	display: block;
	clear: both;
	float: none;
}
