table {
	width: 99.75%;
	color: #3a8fba;
	border-spacing:0;
	border-collapse:collapse;
}

thead {
	background: #5f5f5f;
	color: #fff;
	text-align: right;
}

table thead th {
	margin: 0;
	padding: 10px 10px;
	font-weight: normal;
}

table thead  th.cell0 {
	text-align: left;
}

table thead  th.cell1 {
	border-left: 1px solid #565656;
	border-right: 1px solid #565656;
}

/*div#us-most-populous-container table td.cell1, 
div#us-highest-density-container table td.cell1, 
div#us-most-populous-container table td.cell2, 
div#us-highest-density-container table td.cell2 {
	width: 135px;
}*/

table tbody td {
	padding: 6px;
	padding-top: 10px;
	text-align: right;
}

table tbody td.cell0 {
	text-align: left;
	width: 160px;
}

/*div#us-most-populous-container table tbody td a, div#us-highest-density-container table tbody td a {
	padding: 5px;
	color: #3a8fba;
	text-decoration: underline;
}*/

table tbody tr.alt td {
	background: #f8f8f5;
}
/*div#population-growth-header {
	padding: 15px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
}

div#population-growth-wrapper {
	position: relative;
}
	div#population-growth-chart {
		width: 100%;
		height: 440px;
	}
		
	div#population-growth-overlay {
		margin: 0;
		margin-top: 20px;
		padding: 10px;
		display: none; 
		z-index: 3;
		position: absolute;
		top: 0px;
		text-align: right;
	}
		div#population-growth-overlay h4 {
			text-align: left;
			margin: 0;
			padding: 0;
		}
	
	div#population-growth-overlay:hover {
		display: block;
	}
	
	div#population-growth-overlay table {
		width: 100%;
	}
	
	div#population-growth-overlay table thead {
		display: none;
	}*/