/*
Styles for U.S. and World population clocks
*/
div#population-counter-container {
	-webkit-border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	position: relative;
}	

	div#population-counter-container .progress-bar-container {
		width: 54%;
	}
	div#population-counter-container p:nth-of-type(1) {
		font-size: 10px;
		margin: 0;
		margin-left: 20px;
		padding: 5px 0;
		float: left;
	}
	
	div#population-counter-container nav.share {
		float: right;
	}
	
	div#us-pop-container, div#world-pop-container {
		margin: 0;
		padding: 12px 10px;
		text-align: center;
		font-weight: bold;
		color: #289ede;
	}
	div#us-pop-wrapper {
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
	}
	
	div.selected {
		border-bottom: none;
	}
	
	div#us-pop-container {
		border-left: none;
		-webkit-border-top-left-radius: 5px;
		-moz-border-radius-topleft: 5px;
		border-top-left-radius: 5px;
		background: #ecebe3; /* Old browsers */
		background: -moz-linear-gradient(left,  #ecebe3 0%, #fbfaf9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ecebe3), color-stop(100%,#fbfaf9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #ecebe3 0%,#fbfaf9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #ecebe3 0%,#fbfaf9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #ecebe3 0%,#fbfaf9 100%); /* IE10+ */
		background: linear-gradient(to right,  #ecebe3 0%,#fbfaf9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecebe3', endColorstr='#fbfaf9',GradientType=1 ); /* IE6-9 */
	}
	
	div#world-pop-wrapper {
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
	}
	
	div#world-pop-container {
		border-right: none;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topright: 5px;
		border-top-right-radius: 5px;
		/* linear gradient horizontal */
		background: #f7f7ed; /* Old browsers */
		background: -moz-linear-gradient(left,  #fbfaf9 0%, #ecebe3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fbfaf9), color-stop(100%,#ecebe3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #fbfaf9 0%,#ecebe3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #fbfaf9 0%,#ecebe3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #fbfaf9 0%,#ecebe3 100%); /* IE10+ */
		background: linear-gradient(to right,  #fbfaf9 0%,#ecebe3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf9', endColorstr='#ecebe3',GradientType=1 ); /* IE6-9 */
	}

	div.lcol {
		background: #ecebe3; /* Old browsers */
		background: -moz-linear-gradient(left,  #ecebe3 0%, #fbfaf9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ecebe3), color-stop(100%,#fbfaf9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #ecebe3 0%,#fbfaf9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #ecebe3 0%,#fbfaf9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #ecebe3 0%,#fbfaf9 100%); /* IE10+ */
		background: linear-gradient(to right,  #ecebe3 0%,#fbfaf9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecebe3', endColorstr='#fbfaf9',GradientType=1 ); /* IE6-9 */
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-radius-bottomleft: 5px;
		border-bottom-left-radius: 5px;
	}
	
	div.rcol {
		background: #f7f7ed; /* Old browsers */
		background: -moz-linear-gradient(left,  #fbfaf9 0%, #ecebe3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fbfaf9), color-stop(100%,#ecebe3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #fbfaf9 0%,#ecebe3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #fbfaf9 0%,#ecebe3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #fbfaf9 0%,#ecebe3 100%); /* IE10+ */
		background: linear-gradient(to right,  #fbfaf9 0%,#ecebe3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf9', endColorstr='#ecebe3',GradientType=1 ); /* IE6-9 */
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-radius-bottomright: 5px;
		border-bottom-right-radius: 5px;
	}

	
	div#us-pop-container h3, div#world-pop-container h3 {
		margin: 0;
		margin-bottom: 5px;
		padding: 0;
		font-size: 1em;
	}

	div#us-pop-container div {
		width: 100px;
	}
	
	div#world-pop-container p {
		color: #0c6291;
	}
	
	div#population-counter-container div#us-pop-container p, div#population-counter-container div#world-pop-container p {
		margin: 0;
		margin-top: 7px;
		padding: 0;
		text-shadow: 0px 1px #fff, 0px -1px #ccc;
		font-size: 15px;
		float: none;
	}	
	div#us-pop-wrapper {
		margin-bottom: 0px;
	}
	
		div#us-pop-components-container, div#world-pop-historical {
			margin: 0 auto;
			padding: 10px;
			width: 316px;
		}
		
		div#world-pop-historical {
			margin: 0 auto;
			padding: 10px;
			width: 316px;
			position: relative;
			left: -169px;
		}
		
		table.rcol, table.lcol {
			display: block;
			width: 158px;
		}

		
		div#population-counter-container div#us-pop-components-container p {
			text-transform: uppercase;
			font-weight: bold;
			margin: 0;
			margin-bottom: 10px;
			padding: 0;
			font-size: 13px;
		}
		div#us-pop-components-container table {
			margin: 0;
			padding: 0;
			display: block;
			clear: both;
		}
		div#us-pop-components-container table td {
			margin: 0;
			padding: 5px 0;
			padding-right: 10px;
			font-size: 11px;
			vertical-align: middle;
		}
		
		div#us-pop-components-container table td:nth-of-type(2) {
			margin: 0;
			padding: 0;
			width: 50px;
			text-align: right;
		}
		

/*			div#world-pop-historical table {
				display: none;
			}
*/
/*			div#world-pop-historical table td:nth-of-type(1) {
				text-align: center;
			}*/
			
/*			div#world-pop-historical table:nth-of-type(1) {
				border-right: 1px solid #cececc;
			}*/