div#share-this {
	font-size: 12px;
	border-top: 1px solid #e4e4e4;
	border-bottom: 1px solid #e4e4e4;
	margin-top: 15px;
	padding-bottom: 20px;
	padding-top: 15px;
}

div#share-this h4 {
	margin: 0;
	margin-bottom: 5px;
	padding: 0;
	color: #6d6d6d;
	font-weight: normal;
}

div#share-this nav {
	margin: 0 auto;
}

nav .share {
	margin-right: 2px;
	text-decoration: none;
	color: #6d6d6d;
	display: inline-block;
	width: 39px;
	height: 46px;
	overflow: hidden;
	text-indent: -99999px;
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

div#copy-notice {
	position: absolute;
	border: 2px solid #c1592c;
	margin-top: -30px;
	margin-bottom: 20px;
	padding: 5px;
	margin-left: 110px;
	width: 100px;
	color: #c1592c;
	text-align: center;
	opacity:0.0;
	filter:alpha(opacity=0); /* For IE8 and earlier */
}

#print-this {
	background-image: url('./images/icon-print.png');
}

#download-this {
	background-image: url('./images/icon-download.png');
}

#download-this.disabled {
	opacity:0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}

#email-this a {
	display: block;
	height: 46px;
	width: 39px;
	background-image: url('./images/icon-email.png');
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}

#embed-this {
	background-image: url('./images/icon-embed.png');
}

div#tweet-this, div#post-this, div#pin-this {
	text-indent: 0;
	width: auto; 
	height: auto;
	background: transparent;	
}

#pin-this a {
	margin-top: 46px !important;
}

#tweet-this {
	/*background-image: url('./images/icon-twitter.png');*/
}

#post-this {
	top: 1px;
	
	/*background-image: url('./images/icon-facebook.png');*/
}

#pin-this {
	/*background-image: url('./images/icon-pinterest.png');*/
}
