TH.orange
{
	font-family: 'Verdana';
	font-size: 10.5pt;
	color: #FFFFFF;
	background-color: #FF9933; 
}

TH.blue
{
        font-family: 'Verdana';
        font-size: 10.5pt;
        color: #FFFFFF;
	background-color: #6699FF; 
}

TH.primary_blue
{
        font-family: 'Verdana';
        font-size: 10.5pt;
        color: #FFFFFF;
	background-color: #112E51;
}



td.odd
{
	font-family: 'Verdana';
	font-size: 9.5pt;
	font-weight: bold;
	color: #666666;  
/*	background-color: #E5EEFF; EEEEF4; EBF5FF;   */
	background-color: #F1F3F5;  
 /*       opacity: .5; */
}

/* Even stripes are the white strips */
td.even
{
	font-family: 'Verdana';
	font-size: 9.5pt;
	font-weight: bold;
	color: #666666;  
	background-color: #FFFFFF;
    /*    opacity: .5; */
}
