#allow from *
AddDefaultCharset UTF-8
#Password protect 
#AuthUserFile /www/access/embargo/htpasswd
#AuthName "Restricted"
#AuthType Basic
#require user cnmpsecure
#
#

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^world$ country.php [L]
RewriteRule ^world/$ country.php [L]
RewriteRule ^world/js/(.*)$ js/$1 [L]
RewriteRule ^world/css/(.*)$ css/$1 [L]
RewriteRule ^world/data/(.*)$ data/$1 [L]
RewriteRule ^world/images/(.*)$ images/$1 [L]
RewriteRule ^world/US/$ index.php [L,R=301,NC]
RewriteRule ^world/us/$ index.php [L,R=301,NC]
RewriteRule ^world/US$ index.php [L,R=301,NC]
RewriteRule ^world/us$ index.php [L,R=301,NC]
RewriteRule ^world/([a-zA-Z0-9_-]+)$ country.php?FIPS=$1 [L]
RewriteRule ^world/([a-zA-Z0-9_-]+)/$ country.php?FIPS=$1 [L]
</IfModule>
