div#population-age-header {
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

div#population-pyramid-wrapper {
}
	div#population-pyramid-graph {
		margin: 0 auto;
		width: 340px;
		height: 350px;
	}
	
	div#population-pyramid-slider {
		margin: 0px auto;
		padding: 0;
		width: 320px;
	}
	
	a#population-pyramid-play-button {
		display: none;
/*		text-indent: -99999px;
		background-repeat: no-repeat;
		background-position: center center;
		background-image: url('./images/play.png');
		overflow: hidden;
		width: 20px;
		height: 20px;
		float: left;
		position: relative;
		left: 10px;
		z-index: 10000;
*/	}
